.container{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    width: 300px;
    height: 400px;
    justify-content: center;
    padding-top: 1px;
    margin-top: -60px;

}
#heading{
    font-size: 60px;
    height: 20px;
    width: 100px;
    margin-right: 60px;
    color: black;
    font-weight: 800px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
    background-color: white;
}
.button{
    font-size: 100px;
    background-color: chocolate;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    height: 150px;
}
.button:hover{
    background-color: purple;

}
.board{
    width: 250px;
    height: 400px;
    margin-top: 80px;
    
}
.restart{
    margin-top: 10px;
    size: 40px;
    font-size: 30px;
    background-color: black;
    color: white;
}
.restart:hover{
    background-color: white;
    color: black;
    
}


.turn{
    font-size: 40px;
    margin-top: 100px;
    width: inherit;
    float: left;
    color: black;
    height: 60px;
    background-color: red;
}